/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Design System */
:root {
    --Cyan-600: #4D96A9;
    --Cyan-300: #8FE3F9;
    --Purple-600: #855FB1;
    --Purple-300: #D9B8FF;
    --Slate-900: #28283D;
    --Slate-600: #87879D;
    --Slate-300: #D1D1DF;
    --white: #FAFAFA;
}

/* Typography */
.text-preset-1 {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;    /* 64px */
  line-height: 110%;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem; /* 40px */
  line-height: 110%;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 1rem; /* 16px */
  line-height: 110%;
  letter-spacing: 4px;
}

.text-preset-4 {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.13rem; /* 18 */
  line-height: 110%;
  letter-spacing: 0px;
}

.text-preset-5 {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 1rem; /* 16px */
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-6 {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 0.75rem; /* 12px */
  line-height: 110%;
  letter-spacing: 4px;
}

.text-preset-7 {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 2rem; /* 32px */
  line-height: 110%;
  letter-spacing: 0px;
}



/* Reusable Classes */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button{
    padding: 1rem 2.5rem;
    text-decoration: none;
    color: var(--white);
    border-radius: 1.81rem;
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem; 
    line-height: 150%;
    letter-spacing: 0px;
}

.blue{
    background-color: var(--Cyan-600);

    :hover{
        background-color: var(--Cyan-300);
    }
}

.purple{
    background-color: var(--Purple-600);

    :hover{
        background-color: var(--Purple-300);
    }
}

.overlay{
  border-image: fill 1 linear-gradient(hsl(192 90% 77%/ 0.9), hsl(192 90% 77% / 0.9));
}

/* Combined CSS */
.hero-content > h1, .main-content > h2 {
  color: var(--Slate-900);
}

.hero-content > p, .main-content > p{
  color: var(--Slate-600);
}


/* Header */
header{
    padding-top: 3.00rem;
}

/* Hero */
.hero{
    padding-top: 4rem;
    padding-bottom: 2rem;
    gap: 3rem;
    width: 100vw;

    .hero-content{
        gap: 1.5rem;
        width: 17rem;
        text-align: center;
        width: 19.06rem;

        h1{
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }

        .cta-buttons{
            gap: 1rem;
        }
    }
}

/* Main Section */

main{
  gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.image-collage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
   
    img{
        border-radius: 8px;
        width: 9.25rem;
        height: 9rem;
    }
}

.main-content{
    width: 19.44rem;

    h2{
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    h3{
        color: var(--Cyan-600);
        text-transform: uppercase;
    }
}

/* Footer */
footer{
  background-image: url("../assets/mobile/image-footer.jpg");
  background-position: no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--white);
  width: 100vw;
  margin-top: 6.9rem;
}

.footer-content{
  gap: 1.5rem;
}

footer img {
  transform: translate(-40%, -80%);
  margin: 0 auto;

}

/* Hero Section */
@media (max-width: 1400px){

  .hero-content::before{
    content: url("../assets/mobile/combined-image.svg");
    width: 100vw;
    height: auto;
  }

  .image-left, .image-right {
    display: none;
  }
}

/* Tablet Media Queries */
@media (min-width: 700px){
  .hero{
    gap: 4.5rem; 
    padding-bottom: 4rem;

    .hero-content{
      width: 28rem;

      h1{
        font-size: 3rem;
      }

      .cta-buttons{
        flex-direction: row;
    }
    }
  }

  main{
    padding-top: 3.5rem;

    .image-collage{
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;

      img{
        border-radius: 8px;
        width: 9.5rem;
        height: 10rem;
      }
    }

    .main-content{
      width: 31.5rem;

      h2{
        font-size: 2.25rem;
      }

      h3{
        font-size: 0.875rem;
      }
    }
  }

  .footer-content{
   margin: 0 auto;
   width: 31.5rem;

   h2{
    font-size: 2.25rem; 
   }
  }
}

@media (min-width: 1400px){
  .hero{
    width: 100vw;
    justify-content: space-between;
    flex-direction: row;
  }

  .hero > img{
    width: 24.63rem;
    height: 18.88rem;
  }

  main{
    width: 70rem;
    padding-bottom: 4.5rem;;

    .image-collage{
      gap: 2rem;

      img{
        width: 16rem;
        height: 16rem;
      }
    }
    .main-content{
      width: 34rem;

      h2{
        font-size: 2.5rem;
      }

      h3{
        font-size: 1rem;
      }

      p{
        font-size: 1.13rem;
      }
    }
  }

  .footer-content{
    flex-direction: row;
    width: 70rem;
    justify-content: space-between;
    text-align: left;

    h2{
      font-size: 2.5rem;
      width: 27.81rem;
    }

    p{
      font-size: 1.13rem;
      width: 22.19rem;
    }
  }

}


